{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="fz-container-titulo">
            <h5 class="fz-titulo">Atualizar Animal</h5>
        </div>

        {{ include('gado/_form.html.twig', {'button_label': 'Atualizar'}) }}

        {{ include('gado/_delete_form.html.twig') }}
    </div>

{% endblock %}
