{% extends 'base.html.twig' %}

{% block title %}Edit Fazenda{% endblock %}

{% block body %}
    <h1>Edit Fazenda</h1>

    {{ include('fazenda/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fazenda_index') }}">back to list</a>

    {{ include('fazenda/_delete_form.html.twig') }}
{% endblock %}
