{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">

        <div class="fz-container-titulo">
            <h5 class="fz-titulo">Cadastrar Veterinário</h5>
        </div>
        {{ include('veterinario/_form.html.twig') }}

    </div>
{% endblock %}
